{% extends "base.html" %}  {% block content %}
<div class="col-md-12">
    <div class="col-md-4 col-md-offset-4">
        <form action="/brand/add" method="post">
        {% raw xsrf_form_html() %}
            <h2>Add Brand</h2>
                <input type="hidden" value="{{id}}" name="id">
            <div class="form-group">
                <input name="name" value='{{name}}' class="form-control" placeholder="input brand name" required autofocus>
            </div>
            <div class="form-group">
                <button class="btn  btn-primary " type="submit">commit</button>
            </div>
            {#        <a href='/login' class="btn">commit</a>#}
        </form>
        <div>{{ result }}</div>
    </div>
</div>
{% end %}