{% extends "master.html" %} {%block body %}

<div class="container">
<!-- Fixed navbar -->
    <nav class="navbar  navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home Page <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/home/">Notification</a></li>
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In/Out <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Visitor</a></li>
                <li><a href="/user/login">Apply for Access</a></li>
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrator <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="brand/add">Manage Brands</a></li>
                <li><a href="config/series/add">Manage Series</a></li>
                <li><a href="project/add">Manage Projects</a></li>
                <li><a href="config/type/add">Manage type</a></li>
                <li><a href="config/ostatus/add">Manage Status</a></li>
                
                <li><a href="config/pro_type/add">Manage Pro_type</a></li>
                <li><a href="config/pro_status/add">Manage Pro_Status</a></li>
                
                <li><a href="config/note/add">Manage Note</a></li>
                <li><a href="user/add">Manage Users</a></li>
                <li><a href="config/role/add">Manage Role</a></li>
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">View Projects</a></li>
                <li><a href="#">View Announcements</a></li>
                <li><a href="#">View Tasks</a></li>
                <li><a href="#">Smart Launch Timeline Reports</a></li>
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SAP <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Upload GAV Files</a></li>
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Change History <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">User Role Query</a></li>
                <li><a href="#">Projects Info Query</a></li>
                <li><a href="#">Announcements Query</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</div>

{%block content %}{%end %}

<!-- /container -->
{%end %}
