{% extends "master.html" %} {%block body %}
<div class="container">

{#	<div class="header col-md-12">#}
{#		<img class=" col-md-offset-4" alt="logo"#}
{#			src="{{static_url('image/index/logo.png')}}">#}
{#	</div>#}
{#	<div class="header col-md-12">#}
{#		<ul class="nav nav-pills col-md-offset-2" >#}
{#			<li ><a href="/" ><img src="{{static_url('image/index/index.png')}}"/></a></li>#}
{#			<li ><a href="/cartoons" ><img src="{{static_url('image/index/cartoon.png')}}"/></a></li>#}
{#			<li ><a href="/movies" ><img src="{{static_url('image/index/movie.png')}}"/></a></li>#}
{#			<li ><a href="/roles" ><img src="{{static_url('image/index/roles.png')}}"/></a></li>#}
{#			<li ><a href="/downloads/emotions" ><img src="{{static_url('image/index/material.png')}}"/></a></li>#}
{#			<li ><a href="/team" ><img src="{{static_url('image/index/team.png')}}"/></a></li>#}
{#			<li ><a href="/about" ><img src="{{static_url('image/index/about.png')}}"/></a></li>#}
{#			<li ><a href="/login" ><img src="{{static_url('image/index/about.png')}}"/></a></li>#}
{#		</ul>#}
{#	</div>#}
	
{%block content %}{%end %}
</div>
<!-- /container -->
{%end %}
